//panel
.panel{
    &-left{
        background-color:$color-secondary;
        //height: 100vh;
        text-align: center;
    }
    &-right{
        background-color:$color-white;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

//vue-router link
.router-link-active,
.router-link-exact-active .icon-logo {
    color:$color-secondary;
    text-decoration: none !important;
    background-color: $color-light;
}



.icon{
    text-decoration: none !important;
    position: relative;
    &-name{
        position: absolute;
    visibility: hidden;
    transition: all .2s;
    background-color: gray;
    color:white !important;
    padding: .2rem;
    border-radius: .2rem;
        text-decoration: none !important;
        z-index: 1;
        top:-.3rem;
        left:3.5rem;
    }
    &:hover &-name{
         visibility: visible;
        text-decoration: none !important;
    }
    &-logo{
        font-size: 1.5rem;
        padding: .6rem;
        border-radius: .5rem;
        color:$color-light;
    }
}

.vue-dropdown{
    position: relative;
 &_item{
    position: absolute;
    background-color:yellow;
    border-radius: .4rem;
    margin-top: .2rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index:2000 !important;
     background-color: $color-white;
    width:40vw;
     height:80vh;
    right: -1rem;
     overflow: hidden;
    &_list{
         display: block;
    color: black;
            padding: .2rem 0rem .2rem 0rem;
        text-align: center;
    &:hover{
        text-decoration: none;
        background: rgba(0,0,0,0.1);
         box-shadow: 0 0 10px rgba(0,0,0,.2);
        color:black;
    }
    }
}
}

.coo{
    transition:all .2s;
    margin-top:.7rem;
    margin-right:.5rem;
    margin-left: .5rem;
    padding: .3rem .3rem .6rem .3rem;
    &:hover{
        background-color: #E5F2FD;
        border-radius: .3rem;
    }
    a{
        text-decoration: none !important;
    }
    i{
    display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: .6rem;
        border-radius: .5rem;
        color:#637E92;

    }
    span{
        color:#333333;
        display: block;
        text-align: center;
    }
}

.top{
    background: #F5F7F9;
    color:#999999;
    padding: .2rem .5rem;
    &-sales{
        margin-top: 1rem;
    }
}

.nav-btn{
    background-color:$color-secondary;
    color:$color-white;
     width:2rem;
    height:2rem;
    -webkit-transition: #12344D 150ms ease-in-out;
    transition: #12344D 150ms ease-in-out;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
     font-size: 24px;
    line-height: 12px;
    padding: 8px 0 0;
    text-align: center;
}

[v-cloak] {
    display: none;
}

.panel{
    &-top{
        border-bottom: 1px solid #CFD7DF;
        border-top:1px solid #CFD7DF;
        background-color: #FDFDFD;
        &_content{
            padding:1rem;
        }

    }

    &-bottom{
        border-bottom: 1px solid #cfd7df;
        border-top:1px solid #CFD7DF;
        background-color: #FDFDFD;
    }
    &-heading{
        text-transform:uppercase;
        color:#999999;
        font-weight: 700;
        font-size: 1.1rem;
    }
    &-exit{
        font-size:1rem;
    }
    &-btn_save{
       background-color: #1d4967 !important;
        color:$color-white !important;
        transition: all .2s;
        &:hover{
            background-color: #12344d !important;
        }
    }
    &-btn_close{
        background-color: #e3e7ea !important;
        transition: all .2s;
        &:hover{
            background-color: #cbcbd4 !important;
        }
    }
    &-form{
        ::-webkit-input-placeholder {
            font-size:.8rem !important;
            color: #bfbfc8 !important;
        }
    }
}

.label-name{
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 0rem !important;
}

.main-img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-top{
    background:#F5F7F9;
    color:#1d4967;
    padding: .8rem;
    font-weight: 700;
    border-bottom: 1px solid #EBEFF3;
    &_heading{
        padding-right: .5rem;
        color:#2F80ED !important;;
    }
    &_arrow{
        padding-right: .5rem;
    }
}
.bisu{
    height:100%;
}
.container-fluid{
padding-left: 0px !important;
}
.page{
    border-right: 1px solid #dce1e5;
&-content{
    overflow-y: scroll;
    height: 100vh;
    padding: 1.2rem;
    &_img{
        width: 100%;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
    }
}
}
.pd-r{
 padding-right: 0rem !important;
}

.img-avatar{
    position: relative;
    cursor:pointer;
    img{
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
         width:5.5rem;
        //height: 6rem;
        border-radius: 2.5rem;
        display: block;
        overflow: hidden;
    }
    &_overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #12344D;
        overflow: hidden;
        width: 5.5rem;
        height: 0;
        transition: .5s ease;
        overflow: hidden;
        clip-path: polygon(0% 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        &-text{
            color: white;
            font-size: .7rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    &_name{
        background-color:$color-secondary;
        border-radius: 50%;
        text-align: center;
        color: #ffffff;
        height: 5.5rem;
        width: 5.5rem;
        font-size: 2rem;
        display: table-cell;
        vertical-align: middle;
    }
}
.img-avatar:hover .img-avatar_overlay {
    height: 20%;
    opacity: .9;
    overflow: hidden;

}


.content{
    &-name{
        font-weight: 700;
        font-size:1.5rem;
    }
    &-info{
        font-weight: bold;
    }
    &-dot{
        background-color:$color-light-grey;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: .4rem;
        margin-left:.4rem ;
    }
    &-map{
        i{
            color:$color-grey;
            margin-right: .5rem;
        }
        a{
            text-decoration: none !important;
        }
    }
}

.img_avarar input[type="file"] {
    font-size: 15px;
    color:$color-secondary;

}

//score feature
.score{
    //dropdown
    &-dropdown{
        &_item{
            position: absolute;
            border-radius: .2rem;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            z-index:2000 !important;
            background-color: $color-white;
            width:24rem;
            height:auto;
            overflow: hidden;
            top:7rem;
        }
    }
    //score point
    &-point{
        position: relative;
        bottom: 95px;
        right: -64px;
        border: 3px solid white;
        border-radius: 50%;
        height: 37px;
        width: 37px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: white;
        cursor:pointer;
        &_cold{
            background-color:$color-cold;
        }
        &_hot{
            background-color:$color-hot;
        }
    }
    &-content{
        &_para{
            padding: .5rem;
          border-bottom:1px solid #E5E5EE;
            i{
                margin-right:.3rem;
                color:$color-grey;
            }
        }
        &_point{
            &-para{
                border-bottom:1px solid #E5E5EE;
                padding-left:.5rem;
                padding-bottom:.5rem;
            }
            &-cold{
                padding-left:1.5rem;
                &_point{
                    border: 3px solid $color-cold;
                    border-radius: 50%;
                    height: 37px;
                    width: 37px;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    color:$color-cold;
                }
                &_status{
                    top: 2.7rem;
                    margin-left: .2rem;
                    position: absolute;
                    color:$color-cold;
                }
            }
            &-hot{
                padding-left:1.5rem;
                &_point{
                    border: 4px solid $color-hot;
                    border-radius: 50%;
                    height: 37px;
                    width: 37px;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    color:$color-hot;
                }
                &_status{
                    top: 2.7rem;
                    margin-left: .3rem;
                    position: absolute;
                    color:$color-hot;
                }
            }
        }
    }

}

.fa-arrow-up{
    color: #1ab01a;
    font-weight:700;
    padding-right: .1rem;
}
.model-desin{
background: transparent !important;
}
.lead-score{
    font-size: 0.8rem;
}
.edit-border-top{
    border-top:1px solid #CFD7DF;
}

.edit-border-bottom{
    border-bottom: 1px solid #CFD7DF;
}
.crm-info{
    span{
        padding-left:2.5rem;
    }
}

.arrow-pointer{
        width: 108px;
    height: 32px;
    background: #BBDCFE;
    position: relative;
    text-align: center;
    &:hover{
        cursor:pointer;
    };
  &::before{
   content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid  #BBDCFE;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid #ffffff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &-pd{
    padding-right: 1.6rem;
  }
}


.arrow-pointer-select{
        width: 108px;
    height: 32px;
    background: $color-secondary;
    position: relative;
    text-align: center;
    color:#ffffff;
    &:hover{
        cursor:pointer;
    };
  &::before{
   content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid  $color-secondary;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid #ffffff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}


.arrow-pointer-unq{
        width: 108px;
    height: 32px;
    background:#B92D2D;
    position: relative;
    text-align: center;
    color:#ffffff;
    &:hover{
        cursor:pointer;
    };
  &::before{
   content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid  #B92D2D;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid #ffffff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

.padding-0{
        padding-right:0 !important;
    padding-left:0 !important;
}

.arrow-pointer-span{
        position: absolute;
    font-size: 0.8rem;
    font-weight: 700;
    right: .2rem;
    top: .3rem;
}

.stage-dropdown{
  position: relative;
  &_item{
position: absolute;
border-radius: .2rem;
box-shadow: 0 0 10px rgba(0,0,0,.2);
z-index:2000 !important;
background-color: $color-white;
width:8rem;
height:auto;
overflow: hidden;
top:2.2rem;
padding-top: .5rem;
padding-bottom: .5rem;
ul{
  list-style: none;
  display: contents;

  li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
  }
}
//top:7rem;
&-content{
  cursor: pointer;
  transition: all .2s;
  &:hover{
    background-color: $color-light-grey;
  }
}
  }
}

.unq-bg{
background: #E84F51 !important;
&::before{
      border-left: 25px solid  #E84F51  !important;
}
}

.feature-dropdown{
  position: relative;
&_item{
  position: absolute;
  border-radius: .2rem;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  z-index:2000 !important;
  right: .2rem;
  background-color: $color-white;
  width:13rem;
  height:auto;
  overflow: hidden;
  top:1.8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  a{
    text-decoration: none !important;
    color:inherit !important;
  }
  ul{
    list-style: none;
    display: contents;

    li{
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-left: 1rem;
      font-size: .8rem;
      font-weight: 400;
      i{
        padding-right:.4rem;
      }
    }
  }
&-content{
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background-color: $color-light-grey;
    }
  }
}
}

.activity{
  ul {
    list-style: none;
    border-left:4px solid #D3D3D3;
padding-left: 2rem;
margin-left: 1rem;
    li{
      margin-bottom: -1.2rem;
    }
  }
  &-icon{
    position: relative;
    top: 33px;
    right: 55px;
    border: 3px solid #D3D3D3;
    border-radius: 50%;
    height:43px;
    width: 43px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    &_blue{
      color:$color-cold;
    }
    &_green{
      color:#0F703B;
    }
    &_purple{
      color:$color-secondary;
    }
    i{
      font-size: 1.2rem;
    }
  }
  &-info{
    font-size: .7rem;
    &_dot{
      height: .4rem;
      width: .4rem;
      background-color: #D3D3D3;
      border-radius: 50%;
      display: inline-block;
      margin-right: .2rem;
      margin-left:.2rem;
    }
  }
  &-more{
    a{
      position: relative;
      top:24px;
      right: 66px;
      background-color: #D3D3D3;
      font-size: .7rem;
      padding:.4rem;
      border-radius: 2rem;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.lead{
  &-info{
    background-color:#F5F7F9;
    text-align: center;
    padding:2rem;
    padding: 1.2rem 0;
    width: 85%;
    &_score{
      &-heading{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .2rem;
      }
    &-point{
      background: #ffffff;
    border-radius: 50%;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    width: 84px;
    font-size: 1.7rem;
    font-weight: 400;
      &_cold{
      color:$color-cold;
      border: 3px solid $color-cold;
      }
      &_hot{
        color:$color-hot;
        border: 3px solid $color-hot;
      }
    }
  }
  &_rec{
    span{
      font-weight: 700;
      font-size:.8rem;
    }
  }
  }
}
