//panel
.panel{
height:100vh;
    &-left{
        background-color:$color-secondary;
        text-align: center;
    }
    &-right{
        background-color:$color-white;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

//vue-router link
.router-link-active,
.router-link-exact-active .icon-logo {
    color:$color-secondary;
    text-decoration: none !important;
    background-color: $color-light;
}


.icon{
    text-decoration: none !important;
    position: relative;
    &-name{
        position: absolute;
    visibility: hidden;
    transition: all .2s;
    background-color: gray;
    color:white !important;
    padding: .2rem;
    border-radius: .2rem;
        text-decoration: none !important;
        z-index: 1;
        top:-.3rem;
        left:3.5rem;
    }
    &:hover &-name{
         visibility: visible;
        text-decoration: none !important;
        font-size:1rem;
    }
    &-logo{
        font-size: 1.5rem;
        padding: .6rem;
        border-radius: .5rem;
        color:$color-light;
    }
}

.vue-dropdown{
    position: relative;
 &_item{
    position: absolute;
    background-color:yellow;
    border-radius: .4rem;
    margin-top: .2rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index:2000 !important;
     background-color: $color-white;
    width:12vw;
     height:52vh;
    right: -1rem;
     overflow: hidden;
    &_list{
         display: block;
    color: black;
            padding: .2rem 0rem .2rem 0rem;
        text-align: center;
    &:hover{
        text-decoration: none;
        background: rgba(0,0,0,0.1);
         box-shadow: 0 0 10px rgba(0,0,0,.2);
        color:black;
    }
    }
}
}

.coo{
    transition:all .2s;
    margin-top:.7rem;
    margin-right:.5rem;
    margin-left: .5rem;
    padding: .3rem .3rem .6rem .3rem;
    &:hover{
        background-color: #E5F2FD;
        border-radius: .3rem;
    }
    a{
        text-decoration: none !important;
    }
    i{
    display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: .6rem;
        border-radius: .5rem;
        color:#637E92;

    }
    span{
        color:#333333;
        display: block;
        text-align: center;
    }
}

.top{
    background: #F5F7F9;
    color:#999999;
    padding: .2rem .5rem;
    &-sales{
        margin-top: 1rem;
    }
}

.nav-btn{
    background-color:$color-secondary;
    color:$color-white;
     width:2rem;
    height:2rem;
    -webkit-transition: #12344D 150ms ease-in-out;
    transition: #12344D 150ms ease-in-out;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
     font-size: 24px;
    line-height: 12px;
    padding: 8px 0 0;
    text-align: center;
}

[v-cloak] {
    display: none;
}

.panel{
    &-top{
        border-bottom: 1px solid #CFD7DF;
        border-top:1px solid #CFD7DF;
        background-color: #FDFDFD;
        &_content{
            padding:1rem;
        }

    }

    &-bottom{
        border-bottom: 1px solid #cfd7df;
        border-top:1px solid #CFD7DF;
        background-color: #FDFDFD;
    }
    &-heading{
        text-transform:uppercase;
        color:#999999;
        font-weight: 700;
        font-size: 1.1rem;
    }
    &-exit{
        font-size:1rem;
    }
    &-btn_save{
       background-color: #1d4967 !important;
        color:$color-white !important;
        transition: all .2s;
        &:hover{
            background-color: #12344d !important;
        }
    }
    &-btn_close{
        background-color: #e3e7ea !important;
        transition: all .2s;
        &:hover{
            background-color: #cbcbd4 !important;
        }
    }
    &-form{
        ::-webkit-input-placeholder {
            font-size:.8rem !important;
            color: #bfbfc8 !important;
        }
    }
}

.label-name{
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 0rem !important;
}

.main-img{
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-top{
    background:#F5F7F9;
    color:#1d4967;
    padding: .8rem;
    font-weight: 700;
    border-bottom: 1px solid #EBEFF3;
    &_heading{
        padding-right: .5rem;
        color:#2F80ED !important;;
    }
    &_arrow{
        padding-right: .5rem;
    }
}
.bisu{
    height:100%;
}
.container-fluid{
padding-left: 0px !important;
}
.page{
    border-right: 1px solid #dce1e5;
&-content{
    overflow-y: scroll;
    height: 100vh;
    padding: 1.2rem;
    &_img{
        width: 100%;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
    }
}
}
.pd-r{
 padding-right: 0rem !important;
}

.img-avatar{
    position: relative;
    cursor:pointer;
    img{
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
         width:5.5rem;
        //height: 6rem;
        border-radius: 2.5rem;
        display: block;
        overflow: hidden;
    }
    &_overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #12344D;
        overflow: hidden;
        width: 5.5rem;
        height: 0;
        transition: .5s ease;
        overflow: hidden;
        clip-path: polygon(0% 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        &-text{
            color: white;
            font-size: .7rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    &_name{
        background-color:$color-secondary;
        border-radius: 50%;
        text-align: center;
        color: #ffffff;
        height: 5.5rem;
        width: 5.5rem;
        font-size: 2rem;
        display: table-cell;
        vertical-align: middle;
    }
}
.img-avatar:hover .img-avatar_overlay {
    height: 20%;
    opacity: .9;
    overflow: hidden;

}


.content{
    &-name{
        font-weight: 700;
        font-size:1.5rem;
    }
    &-info{
        font-weight: bold;
        a{
          text-decoration: none;
          color:#2F2536;
          &:hover{
            text-decoration: none;
            color:#2F2536;
          }
        }
    }
    &-dot{
        background-color:$color-light-grey;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: .4rem;
        margin-left:.4rem ;
    }
    /*&-map{
        i{
            color:$color-grey;
            margin-right: .5rem;
        }
        a{
            text-decoration: none !important;
        }
    }*/
}

.img_avarar input[type="file"] {
    font-size: 15px;
    color:$color-secondary;

}

//score feature
.score{
    //dropdown
    &-dropdown{
        &_item{
            position: absolute;
            border-radius: .2rem;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            z-index:2000 !important;
            background-color: $color-white;
            width:24rem;
            height:auto;
            overflow: hidden;
            top:4rem;
            border:1px solid $color-light-grey;
        }
    }
    //score point
    &-point{
        position: relative;
        bottom: 95px;
        right: -64px;
        border: 3px solid white;
        border-radius: 50%;
        height: 37px;
        width: 37px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: white;
        cursor:pointer;
        &_cold{
            background-color:$color-cold;
        }
        &_hot{
            background-color:$color-hot;
        }
    }
    &-content{
        &_para{
            padding: .5rem;
          border-bottom:1px solid #E5E5EE;
            i{
                margin-right:.3rem;
                color:$color-grey;
            }
        }
        &_point{
            &-para{
                border-bottom:1px solid #E5E5EE;
                padding-left:.5rem;
                padding-bottom:.5rem;
            }
            &-cold{
                padding-left:1.5rem;
                &_point{
                    border: 3px solid $color-cold;
                    border-radius: 50%;
                    height: 37px;
                    width: 37px;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    color:$color-cold;
                }
                &_status{
                    top: 2.7rem;
                    margin-left: .2rem;
                    position: absolute;
                    color:$color-cold;
                }
            }
            &-hot{
                padding-left:1.5rem;
                &_point{
                    border: 4px solid $color-hot;
                    border-radius: 50%;
                    height: 37px;
                    width: 37px;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    color:$color-hot;
                }
                &_status{
                    top: 2.7rem;
                    margin-left: .3rem;
                    position: absolute;
                    color:$color-hot;
                }
            }
        }
    }

}

.fa-arrow-up{
    color: #1ab01a;
    font-weight:700;
    padding-right: .1rem;
}
.model-desin{
background: transparent !important;
}
.project-score{
    font-size: 0.8rem;
}
.edit-border-top{
    border-top:1px solid #CFD7DF;
}

.edit-border-bottom{
    border-bottom: 1px solid #CFD7DF;
}
.crm-info{
    span{
        padding-left:.5rem;
    }
    a{
      text-decoration: none;
      color:black;
      &:hover{
        text-decoration: none;
      color:black;
      }
    }
}

.arrow-pointer{
        width: 108px;
    height: 32px;
    position: relative;
    text-align: center;
    &:hover{
        cursor:pointer;
    };
  &::before{
   content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid #ffffff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
  &-pd{
    padding-right: 1.6rem;
  }
}

.stages{
  background: #BBDCFE;
  &::before{
    border-left: 25px solid  #BBDCFE;
  }
}

.current{
    background: $color-secondary;
    color:#ffffff;
  &::before{
    border-left: 25px solid  $color-secondary;
  }
}

.postpone{
background: #E84F51;
color:#ffffff;
&::before{
      border-left: 25px solid  #E84F51  !important;
}
}

.closed{
background: #27AE60;
color:#ffffff;
&::before{
      border-left: 25px solid  #27AE60;
}
}

.padding-0{
        padding-right:0 !important;
    padding-left:0 !important;
}

.arrow-pointer-span{
        position: absolute;
    font-size: 0.8rem;
    font-weight: 700;
    right: .2rem;
    top: .3rem;
}

.stage-dropdown{
  position: relative;
  &_item{
position: absolute;
border-radius: .2rem;
box-shadow: 0 0 10px rgba(0,0,0,.2);
z-index:2000 !important;
background-color: $color-white;
width:8rem;
height:auto;
overflow: hidden;
top:2.2rem;
padding-top: .5rem;
padding-bottom: .5rem;
ul{
  list-style: none;
  display: contents;

  li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
  }
}
//top:7rem;
&-content{
  cursor: pointer;
  transition: all .2s;
  &:hover{
    background-color: $color-light-grey;
  }
}
  }
}


.feature-dropdown{
  position: relative;
&_item{
  position: absolute;
  border-radius: .2rem;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  z-index:2000 !important;
  right: .2rem;
  background-color: $color-white;
  width:13rem;
  height:auto;
  overflow: hidden;
  top:1.8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  a{
    text-decoration: none !important;
    color:inherit !important;
  }
  ul{
    list-style: none;
    display: contents;

    li{
      padding-top:.5rem;
      padding-bottom: .5rem;
      padding-left: 1rem;
      font-size: .8rem;
      font-weight: 400;
      i{
        padding-right:.4rem;
      }
    }
  }
&-content{
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background-color: $color-light-grey;
    }
  }
}
}

.activity{
  ul {
    list-style: none;
    border-left:4px solid #D3D3D3;
padding-left: 2rem;
margin-left: 1rem;
    li{
      margin-bottom: -1.2rem;
    }
  }
  &-icon{
    position: relative;
    top: 33px;
    right: 55px;
    border: 3px solid #D3D3D3;
    border-radius: 50%;
    height:43px;
    width: 43px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    &_blue{
      color:$color-cold;
    }
    &_green{
      color:#0F703B;
      &:hover{
       color:#0F703B;
       font-weight:bold;
      }
    }
    &_purple{
      color:$color-secondary;
      &:hover{
       color:$color-secondary;
       font-weight:bold;
      }
    }
    &_primary{
      color:$color-primary;
      &:hover{
       color:$color-primary;
       font-weight:bold;
      }
    }
    &_danger{
      color:#E74C3C;
      &:hover{
       color:#E74C3C;
       font-weight:bold;
      }
    }
    &_member{
      color:#40E227;
      &:hover{
       color:#40E227;
       font-weight:bold;
      }
    }
    i{
      font-size: 1.2rem;
    }
  }
  &-info{
    font-size: .7rem;
    &_dot{
      height: .4rem;
      width: .4rem;
      background-color: #D3D3D3;
      border-radius: 50%;
      display: inline-block;
      margin-right: .2rem;
      margin-left:.2rem;
    }
  }
  &-more{
    a{
      position: relative;
      top:24px;
      right: 66px;
      background-color: #D3D3D3;
      font-size: .7rem;
      padding:.4rem;
      border-radius: 2rem;

      &:hover{
        text-decoration: none;
      }
    }
  }
  &-search{
    ul{
      list-style: none;
    a {
      text-decoration: none;
      font-size: 1rem;
    }
    }
  }
}

.project{
  &-info{
    background-color:#F5F7F9;
    text-align: center;
    padding:2rem;
    padding: 1.2rem 0;
    width: 85%;
    &_score{
      &-heading{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .2rem;
      }
    &-point{
      background: #ffffff;
    border-radius: 50%;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    width: 84px;
    font-size: 1.7rem;
    font-weight: 400;
      &_cold{
      color:$color-cold;
      border: 3px solid $color-cold;
      }
      &_hot{
        color:$color-hot;
        border: 3px solid $color-hot;
      }
    }
  }
  &_rec{
    span{
      font-weight: 700;
      font-size:.8rem;
    }
  }
  }
  &-empty{
    margin:3rem 0;
    text-align: center;
    width: inherit;
    h4{
      margin-bottom: 1rem;
    }
  }
  &-account{
    width: 100%;
  }
  &-project{
    outline:none;
 border:none;
  }
  &_members{
    img{
      height: 2.8rem;
      width:2.8rem;
      border-radius: 50%;
      &:hover{
        padding: .1rem;
        border:2px solid $color-secondary;
      }
    }
    a{
      text-decoration:none;
      &:hover{
        text-decoration:none;
      }
    }
    &-detail{
     padding: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    }
  }
}

#paper {
	color:#FFF;
	font-size:20px;
}
#text {
  width: 376px;
  overflow: hidden;
  background-color: #FFF;
  color: #222;
  font-weight: normal;
  font-size: 21px;
  line-height: 40px;
  padding-left: 46px;
  padding-right: 33px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://i.ibb.co/68zNYry/lines-1.png),
   url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  border-radius: 12px;
  box-shadow: 0px 1px 10px #000;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 200px;
  &:focus{
    outline:none;
  }
}
#wrapper {
  width: 376px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

}

.task{
  margin-top: 1rem;
  &-top{
    background-color:#F5F7F9;
    padding:.5rem;
a{
  text-decoration: none;
  i{
    color:black;
  }
}
  }
  &-list{
    &_text{
      font-size:1rem;
      &-body{
        text-decoration: line-through 2px $color-secondary;
      }
    }
    &_heading{
      font-size: .9rem;
      font-weight: 700;
    }
&_time{
  font-size: 0.7rem;
    font-weight: 700;
    color:#524e4e;
}
i{
  cursor: pointer;
}
  }
  &-card{
    &_style{
    width: 18rem;
    margin-bottom: 1rem;
    cursor: pointer;  
    }
    &_body{
        padding: .5rem 1rem 1rem 1rem !important;
        font-size: 1rem;
    }
    &_border{
      border: 0.3rem solid;
      width: 25%;
      margin: .5rem 0 0 .5rem;
      border-radius: 0.5rem;
    }
  }
  &-modal{
    &_title{
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .1rem;
      color: #4c4a4a;
      cursor: pointer;
    }
    &_close{
     font-size: 1.5rem;
     margin-top: -1rem;
    }
    &_content{
        padding: .5rem;
    }
  }
  &-option{
    &_labels{
      list-style-type: none;
      margin-bottom: 1.5rem;
      &-component{
        cursor: pointer;
        color: white;
        padding: .2rem;
        text-align: center;
        border-radius: .2rem;
      }
    }
  &_features{
      list-style-type: none;
      li{
        &:not(:last-child){
            margin-bottom: .5rem;
        }

      }
  }
}
&-member{
margin-right:.2rem;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration:none;

  &_avatar {
    width: 100%;  
    height: 100%;
    border-radius: 50%;
    object-fit: cover; 
  }

  &_name {
    background-color: $color-secondary;
    color: white;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
    &:hover {
    text-decoration: none;
    color: white;
  }

  &_username {
  font-size: 14px; 
  color: #333;
  }

  &-container {
   display: inline-block;
  text-align: center;
  margin-right: 8.8px; /* Adjust the margin as needed */
}

}
&-description{
    &_container{
        margin-bottom: .6rem;
    }
    margin-top: 2rem;
    &_heading{
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
    }
    &_content{
      font-size: 1rem;
      &-link{
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }

      }
    }

}
}

.title-form{
  width: 50% !important;
  display: inherit !important;
}

.project-appointment{
margin-top: .5rem;
}

.side_panel{
  overflow-y: scroll;
  height: 100vh;
}

.vdatetime-input{
  display: block !important;
width: 100% !important;
height: calc(1.6em + 0.75rem + 2px) !important;
padding: 0.375rem 0.75rem !important;
font-size: 0.9rem !important;
font-weight: 400 !important;
line-height: 1.6 !important;
color: #495057 !important;
background-color: #fff !important;
background-clip: padding-box !important;
border: 1px solid #ced4da !important;
border-radius: 0.25rem !important;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
margin-bottom: .8rem;
}

.unassign-cross {
        position: relative;
    top: -8px;
    right: 4px;
    font-size: 1rem;
    color: red;
    cursor: pointer;
     opacity: 0;
     transition: opacity 0.2s ease;
}

.task-member-username:hover .unassign-cross {
    opacity: 1;
}

.invite{
 &-list{
    position: relative;
  }
  ul{
    position: absolute;
    list-style: none;
    border:1px solid $color-secondary;
    border-radius: 4px;
     padding-left: 0;
     background-color:#D3D3D3;
     width: 100%;

  }
  li{
    cursor: pointer;
padding-left: 2rem;
padding-top: .2rem;
padding-bottom: .2rem;
&:hover{
  background-color:#e5e5ee;
}
}
}

.member-list{
    position: relative;
    text-align: center;
    background-color: #eee;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: .4rem 0 .4rem 0;

 &_items{
    cursor: pointer;
    transition: background-color 0.1s ease;
    &:hover{
        background-color: #4682B4;
        color: white;
    }

 }  
}

.pro-info{
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.Activityfont{
  font-weight: bold;
}

.icon-color{
  color:purple;
}


.notification{
  position: absolute;
  &-icon{
    font-size: 1.1rem;
  }
  &-count{
    position: relative;
    bottom: 27px;
    right: -11px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $color-secondary;
    font-size: 0.65rem;
    font-weight: 700;
  }
    &-wrapper {
    display: flex;
    align-items: flex-start;
    text-decoration: none !important;
    color: #282828;
    gap: 10px;
  }
   &_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  &-list{
    margin-bottom:.2rem;
    width: 22rem !important;
    white-space: normal !important;
    word-break: break-word;
    overflow-wrap: break-word;
     &:active{
          text-decoration: none;
    }
  }
   &-content {
    flex: 1;
  }

  &-message {
    font-size: 0.85rem;
    line-height: 1.2;
  }
  &-time{
    font-size: 0.75rem;
    margin-top: 5px;
    display: block;
  }
  &-footer{
       padding: 0.5rem;
       text-align: center;
       border-top: 1px solid #eee;
    &_view-all-link{
      font-weight: 500;
      font-size: 0.85rem;
      color: $color-secondary;
      text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
    }
  }
  &-header{
     font-weight: 600;
  padding: 0.65rem 1rem;
  font-size: 0.95rem;
  border-bottom: 1px solid #eaeaea;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: .2rem;
  }
  &-unread{
    background-color: #e1e3e5 !important;
    font-weight: 500 !important;
    &_dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #007bff; // or any primary color
    border-radius: 50%;
    margin-left: 6px;
    vertical-align: middle;
    }
  }
  &-user_content{
    a{
      color: #282828;
      &:hover{
          text-decoration: none !important;
          color:#282828;
      }
  }
  }
}

.notify-link{
    max-height: 24rem;
  overflow-y: auto;
  padding-right: 0.5rem;
   background-color: white;
    a{
        color: #282828;
        &:hover{
            text-decoration: none !important;
            color:#282828;
        }
    }
}

.rt{
  right: -2rem !important;
  margin-top: 1.2rem !important;
}

.chat
{
   list-style: none;
    margin: 0;
    padding: 0;

    li{
       margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    }

    &-panel{
     overflow-y: scroll;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    }

  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
  &-circle{
     height: .5rem;
  width: .5rem;
  background-color:#228B22;
  border-radius: 50%;
  display: inline-block;
  margin-left: .2rem;
  }
  &-image{
   height: 10rem;
   width: 10rem;
  }
  &-emotion{
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &-message{
    font-size: 1rem;
  }
  &-floating{
    z-index: 10;


  }
  &-time{
    font-size: .8rem;
    font-weight: 700;
  }
  &-user_image{
      height: 2.2rem;
      width:2.2rem;
      border-radius: 50%;
  }
}
.gioj{
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.chat-card .slidedown .fas, .chat .fas
{
    margin-right: 5px;
}
#btn-chat{
  margin-right: .5rem;
}
.file-uploads {
    display: initial !important;
    &:hover{
       cursor: pointer;
    }
}

/* Form design */
.form{
  border:1px solid $color-secondary;
  border-radius: .3rem;
  width:80%;
  padding:.7rem;
  box-shadow: 0 0 17px rgb(0 0 0 / 30%);
  &-header{
    font-size: 1.8rem;
    font-weight: 700;
    margin:.2rem;
    color:$color-grey;
    text-transform:capitalize;
  }
  &-body{
    padding: .5rem;
  }
  &-label{
    color:$color-secondary;
    font-weight: 800;
  }
  &-link{
    color:$color-secondary;
    font-weight: 800;
    margin-top: .5rem;
    &:hover{
      color:$color-secondary;
       text-decoration: none;
    };
  }
  &-btn{
    text-decoration: none;
    color:#fff;
    border:none;
    background-color:$color-secondary;
    width: 100%;
    border-radius:2rem;
    padding: .3rem;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-top: .3rem;
    &:hover{
      background-color:$color-primary;
    };
    &:active{
      outline:none !important;
    };
    &:focus{
      outline:none !important;
    };
  }
}

.error-img{
  img{
    width:100%;
  }
}

.check_members{
  height: 4rem;
  overflow-y: scroll;
  border:1px solid grey;
  padding-left: .5rem;
  padding-top: .2rem;
}

.emoji-slide-enter-active,
.emoji-slide-leave-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Smoother easing */
}

.emoji-slide-enter,
.emoji-slide-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.emoji-modal {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1000;
}

.invitation{
    margin: .8rem;
}

/* Subscription Component */

.subscription{
    &_heading{
      font-weight: bold;
      font-size: 1.6rem;
      letter-spacing: .2rem;
    }
    &_value{
      font-weight: bold;
      font-size: 1.8rem;
    }
}

button.gnuIjg {
  display: none !important;
}

  .member-dropdown{
        &_item{
            padding: .5rem;
            position: fixed;
            border-radius: .2rem;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            z-index:2000 !important;
            background-color: $color-white;
            width:18rem;
            height:auto;
            overflow: hidden;
            border:1px solid $color-light-grey;
        }
    }
/*.vm--container{
    z-index: 0 !important;
}*/

.page-link{
    position:inherit !important;
}

.card-hover{
    cursor:pointer;
}

.meeting{
    &_heading{
        color:#999999;
       font-weight:bold;
       font-size: 1.3rem;
    }
    &_list{
    list-style: none;
        padding: 0;
        margin: 0;
        li{
         margin-top:.8rem;
         margin-left:.5rem;
        }
    }
    &-agenda{
          font-size:1.1rem;
        }
    &_item{
       color:#999999;
       font-weight:bold;
    }    
    &_button{
      text-decoration: none !important;

    &:hover,
    &:focus {
    text-decoration: none !important;
  }
}
}

.btn-link.active {
  background-color: #007bff;
  border-color: #007bff;
  color: white !important;
}

.btn-link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Meeting glow circle */

.glowing-dot {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid white;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.8),
              0 0 20px rgba(0, 128, 0, 0.6),
              0 0 30px rgba(0, 128, 0, 0.4);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8),
              0 0 40px rgba(0, 255, 0, 0.6),
              0 0 60px rgba(0, 255, 0, 0.4);
  }
}

.loading-spinner-container {
  text-align: center;
  padding: 10px 0;
}

.loading-spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #12344d; /* Spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputfile {
  display: none;
}

// File upload button styling
.file-upload-label {
  cursor: pointer;
  font-size: 20px;
  color: black;
  margin-right: 10px;
  transition: color 0.3s ease;

  &:hover {
    color: gray;
  }
}

// File name and close button styling
.file-name {
  font-size: 14px;
}

.file-close-btn {
  font-size: 12px;
  line-height: 1;
}