  .padding-0{
    padding-right:0;
}
  .intro{
    &-left{
      &_header{
       font-size: 2.3rem;
       letter-spacing: .2rem;
       text-transform: capitalize;
      }
      &_border{
      display:inline-block;
      width: 5.8rem;
      height: .2rem;
      background-color:$color-grey; 
      border: 1px solid $color-grey;
      margin-bottom: 1.8rem;
      margin-top:.5rem;
      }
      &_para{
        font-size:1.6rem;
        letter-spacing: .1rem;
        margin-bottom: 2rem;
      }
      &_btn{
    color:#fff;
    text-decoration: none;
    background-color:#2C587E;
    border-radius:.2rem;
    padding: .6rem .9rem; 
    font-size: 1.2rem;
    letter-spacing: .1rem;
    transition: all .2s;
    &:hover{
      color:#fff;
      text-decoration: none;
      background-color:$color-secondary;
    };
  }
    }
    &-right{
      img{
        width:100%;
      }
    }
  }

.about{
  margin-top: 1.5rem;
  &-img{
    margin-left: 1rem;
     img{
      width: 100%;
     }
  }
  &-content{
    margin-top: 2rem;
    &-1, &-2, &-3{
      margin-top: 1.5rem;
    }
    &_heading{
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 700;
    }
    &_para{
      margin-top: .5rem;
      font-size:1.2rem;
    }
  }
  &-more{
    a{
        color:$color-secondary;
        font-size: 1.2rem;
        font-weight: 700;
        span{
          padding-right: .5rem;
        }
      &:hover{
        text-decoration:none;
       color:$color-secondary;
      };
    }
  }
}

.heading{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  &-border{
     display:inline-block;
      width: 6.5rem;
      height: .2rem;
      background-image: linear-gradient(to right bottom,rgba($color-secondary,0.9),rgba(94 168 230 / 90%));
      margin-bottom: 1.8rem;
      margin-top:.5rem;
  }
}

.feature{
  margin-bottom: 2rem;
  &-content{
   span{
     font-weight:700;
     font-size: 2rem;
   }
   p{
     margin-top: .5rem;
     font-size: 1.2rem;
     letter-spacing: .1rem;
   }
  }
  &-img{
    img{
      width:60%
    }
  }
}

.ft{
background-color:$color-secondary;
color:$color-white;
font-size: 1.3rem;
&-p{
background-color:$color-light-grey;

font-size: 1.3rem;
margin-top: 2rem;
}
}