// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary:#FFA800;
$color-secondary:#12344D;
$color-white:#FFFFFF;
$color-light:#E5F2FD;

