// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Componenets
@import 'components';

// Main home page
@import 'main';

// Dashboard
@import 'dashboard';

// Admin
@import 'admin';

// Vue-tooltip
@import 'tooltip';

// User Notifications
@import 'user-notifications';

@import 'subscriptionModal';

@import 'twoFactorAuth';

@import 'user-activities';

@import 'insights';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
