@import '@tabler/core/dist/css/tabler.min.css';
@import '@tabler/core/dist/css/tabler-flags.min.css';
@import '@tabler/core/dist/css/tabler-payments.min.css';
@import '@tabler/core/dist/css/tabler-vendors.min.css';

// Variables
@import 'variables';

// Componenets
@import 'components';

// Main home page
@import 'main';

// Dashboard
@import 'dashboard';

// Admin
@import 'admin';

// Vue-tooltip
@import 'tooltip';

// User Notifications
@import 'user-notifications';

@import 'subscriptionModal';

@import 'twoFactorAuth';

@import 'user-activities';

@import 'insights';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
