name: Laravel

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2

      - uses: actions/checkout@v2

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install Dependencies (Verbose)
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Dump optimized autoload
        run: composer dump-autoload -o

      - name: Clear caches
        run: php artisan config:clear && php artisan route:clear && php artisan view:clear


      - name: Generate key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Start Redis Server in GitHub Actions
        uses: supercharge/redis-github-action@4b67a313c69bc7a90f162e8d810392fffe10d3b5

      - name: Create Database
        run: |
          mkdir -p database
          touch database/database.sqlite

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: vendor/bin/phpunit
